@import "../../../node_modules/bootstrap/scss/_functions";
@import "../../../node_modules/bootstrap/scss/_variables";
@import "../../../node_modules/bootstrap/scss/mixins/_breakpoints";

.intro {
    background-image: url("../images/bnaer_image.jpg");
    background-size: cover; 
    background-position: center;  
    background-repeat: no-repeat; 
    position: relative;    
    color: #fff;
}

.intro .container {
    position: relative;
    z-index: 1;
    padding-bottom: 3rem;
}

.intro .intro-image-container {
   min-width: 30vw; 
   max-width: 55vw;
}

@include media-breakpoint-up(lg) { 
    .intro .container {
       position: relative;
       z-index: 1;
       padding-bottom: 0 !important;
   }

   .intro .intro-image-container > img {
      padding-top: 7rem !important;
   }
}

.intro::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.into-footer {
    margin: 0 auto;
   position: absolute;
   width: 100%;
   bottom: 0;
   z-index: 1;
   left: 50%;
   transform: translateX(-50%);
}

.into-footer, .into-footer::before {
   display: none;
}

.into-footer::before {
   position: absolute;
   content: "";
   bottom: 0;
   left: -1px;
   background: url('../images/into-footer.png') no-repeat 0 0;
   background-size: 100% 100%;
   width: 600px;
   height: 70px;
}


@include media-breakpoint-up(md) { 
   .into-footer, .into-footer::before {
      display: block;
   }

   .into-footer::before {
      width: 550px;
      height: 60px;
   }
}

@include media-breakpoint-up(lg) { 
  
   .into-footer::before {
      width: 650px;
   }

   .into-footer, .into-footer::before {
      height: 70px;
   }
}
 
@include media-breakpoint-up(xl) { 
  
   .into-footer::before {
      width: 750px;
   }

   .into-footer, .into-footer::before {
      height: 80px;
   }
}

@include media-breakpoint-up(xxl) { 
  
   .into-footer::before {
      width: 900px;
   }

   .into-footer, .into-footer::before {
      height: 100px;
   }
}