[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
   font-family: 'icomoon' !important;
   speak: never;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;
    /* Better Font Rendering =========== */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.icon-Vector:before {
   content: "\e902";
}

.icon-Arrow-3:before {
   content: "\e903";
}

.icon-Vector1:before {
   content: "\e901";
}

.icon-Vector-9:before {
   content: "\e900";
}

.icon-instagram1:before {
   content: "\e90a";
}

.icon-instagram:before {
   content: "\e907";
}

.icon-linkedin:before {
   content: "\e906";
}

.icon-twitter:before {
   content: "\e90b";
}

.icon-facebook-logo:before {
   content: "\e91b";
}

.icon-youtube-logo:before {
   content: "\e915";
}

.icon-phone-call:before {
   content: "\e918";
}

.icon-email:before {
   content: "\e919";
}

.icon-pinterest:before {
   content: "\e934";
}

.icon-whatsapp:before {
   content: "\ea93";
}

.icon-youtube:before {
   content: "\ea9d";
}

.icon-pinterest1:before {
   content: "\ead1";
}
